# Longitudinal examination of the bone mechanostat theory in children



Izabella A. Ludwa, Kevin Mongeon, Bareket Falk and Panagiota Klentrou

In [96]:
import os
import sys
import shutil
import pandas
import numpy
import ipystata
import matplotlib.pyplot as plt

from ipystata.config import config_stata, config_syntax_higlight
config_stata('/home/kmongeon/research/stata14/stata-mp',force_batch=True)

pandas.options.display.max_columns = 100
pandas.options.display.max_rows = 500

In [79]:
d1 = pandas.read_csv('./data/IzzyLongitudinalWorkingMarch2015.csv')
d2 = pandas.read_csv('./data/torque.csv')
d3 = pandas.read_csv('./data/Spring_2013_knee_extension.csv')

## IzzyLongitudinalWorkingMarch2015

In [80]:
d1.columns

Index(['ID', 'Session', 'Sequence', 'Gender', 'Age', 'Height', 'Seated Height',
       'Leg Length', 'Weight', 'BF_Slaughter', 'BIA_PBF', 'BMI', 'LBM (kg)',
       'Years from aPHV', 'Age_At_PHV', 'Mat_Offset_New', 'Bone_Age', 'Tanner',
       'Menarche', 'Age_First_Period', 'Period_Frequency', 'Medications',
       'Vitamins', 'Fracture', 'Radius_SOS', 'Radius_Z', 'Tibial_SOS',
       'Tibial_Z', 'Wrist_Flexion_Best', 'Grip_Strength_Best',
       'Forearm_Length', 'ForeArm_Lean_CSA', 'Forearm_US_CSA', 'Anterior_CSA',
       'Anterior Radius', 'Ant_Rad_CSA', 'Anterior Ulna', 'Ant_Ulna_CSA',
       'Posterior', 'Post_CSA', 'Tibialis Anterior', 'NTx', 'Creatinine',
       'NTx/Creat', 'Caloric Intake', 'Calcium', 'Vit D', 'Vit D.1',
       'Caffeine', 'tot sedetary', 'tot light', 'tot mod', 'tot hard',
       'tot v hard', 'tot mvh', 'Total time', 'Godin_PA', 'PAQ_TOTAL_SCORE',
       'PAQ-PRVNT', 'Training_Data', 'Upper Arm_Length', 'Arm_Circumference',
       'Arm_Lean_CSA', 'Thigh_Length', 'Thigh_Circumference', 'Thigh_Lean_CSA',
       'Biceps Brachii', 'Biceps Brachii.1', 'Quads', 'Quads.1'],
      dtype='object')

In [81]:
d1 = d1[['ID', 'Session', 'Sequence', 'Gender', 'Radius_SOS', 'Tibial_SOS', 'Grip_Strength_Best', 'NTx/Creat', 'Mat_Offset_New', 'tot mvh']]

In [82]:
d1 = d1.rename(columns={'ID': 'id', 'Session': 'session', 'Sequence': 'sequence'
                   , 'Gender': 'gender', 'Radius_SOS': 'rsos', 'Tibial_SOS': 'tsos'
                   , 'Grip_Strength_Best': 'grip', 'NTx/Creat': 'ntxc', 'Mat_Offset_New': 'matu', 'tot mvh': 'mvh'})

In [102]:
d1.id.value_counts(dropna=False, sort=False)

512    4
513    2
514    4
515    4
516    4
517    4
518    4
519    3
520    3
521    3
522    1
523    3
524    3
525    3
526    3
527    3
528    3
530    3
531    3
532    3
533    3
534    2
535    3
536    2
537    2
538    2
539    2
540    1
541    3
542    3
543    3
544    3
545    3
546    2
547    2
548    3
549    3
550    3
551    3
552    3
553    2
554    2
555    1
556    3
557    3
558    1
559    1
560    2
561    2
562    1
563    2
564    1
565    2
566    2
567    2
568    1
569    2
570    1
571    1
572    2
573    2
574    2
575    2
576    1
577    2
579    2
581    2
582    1
583    1
100    4
101    1
102    4
103    3
104    2
105    3
106    3
107    4
108    2
109    4
110    4
111    1
112    3
114    1
115    3
116    1
117    4
118    3
119    3
120    4
121    4
122    3
123    1
124    3
125    3
126    3
127    3
128    1
129    3
130    3
131    3
132    3
133    3
134    3
135    3
136    2
137    3
138    3
139    3
140    3
141    3
142    3
143    3
144    1
145    3
146    3
147    3
148    3
149    3
150    2
151    3
152    3
153    3
154    2
155    3
156    3
157    2
158    2
159    3
160    2
161    3
162    3
163    2
164    2
165    2
167    2
168    2
169    2
170    2
171    1
172    1
173    2
174    2
175    2
176    2
177    2
178    1
179    1
180    1
181    2
182    1
183    1
184    1
186    2
187    1
188    2
189    2
190    2
191    2
192    2
193    1
195    1
196    1
197    1
198    1
199    1
200    1
500    4
501    3
502    4
503    4
504    4
505    2
506    3
507    2
508    3
509    3
510    3
511    3
Name: id, dtype: int64

In [83]:
d1.session.value_counts(dropna=False, sort=False)

1    244
2    183
Name: session, dtype: int64

In [86]:
d1.sequence.value_counts(dropna=False, sort=False)

1    44
2    38
3    78
4    71
5    71
6    74
7    51
Name: sequence, dtype: int64

# torque

In [84]:
d2.columns

Index(['ID', 'Biodex_ID', 'Sequence', 'Session', 'New_Sequence', 'Gender',
       'Visit_One', 'Visit_Two', 'DOB', 'Age (days)', 'Age (years)', 'ptiso',
       'pt60', 'pt240'],
      dtype='object')

In [85]:
d2 = d2[['ID', 'Session', 'Sequence', 'New_Sequence', 'Gender', 'ptiso']]

In [103]:
d2.id.value_counts(dropna=False, sort=False)

512    3
513    2
514    3
515    3
516    3
517    3
518    3
519    3
520    3
521    3
522    1
523    3
524    3
525    3
526    3
527    3
528    3
529    1
530    3
531    3
532    2
533    3
534    2
535    3
536    2
537    2
538    2
539    2
540    1
541    2
542    2
543    2
544    2
545    2
546    2
547    2
548    2
549    2
550    2
551    2
552    2
553    2
554    2
555    1
556    2
557    2
558    1
559    1
560    2
561    2
562    1
563    2
564    1
565    2
566    2
567    2
568    1
569    2
570    1
571    1
572    2
573    2
574    2
575    2
576    1
577    2
579    1
581    1
582    1
583    1
100    3
101    1
102    3
103    2
104    2
105    3
106    3
107    3
108    2
109    3
110    3
111    1
112    3
113    3
114    1
115    3
116    1
117    3
118    3
119    3
120    3
121    3
122    3
123    1
124    3
125    3
126    3
127    3
128    3
129    3
130    3
131    3
132    3
133    3
134    3
135    3
136    2
137    3
138    3
139    3
140    3
141    3
142    3
143    3
144    1
145    3
146    3
147    3
148    2
149    2
150    2
151    2
152    2
153    2
154    2
155    2
156    2
157    2
158    2
159    2
160    2
161    2
162    2
163    2
164    2
165    2
167    2
168    2
169    2
170    2
171    1
172    1
173    2
174    2
175    2
176    2
177    2
178    1
179    1
181    2
182    1
183    1
184    1
186    1
187    1
188    1
189    1
190    1
191    1
192    1
193    1
195    1
196    1
197    1
198    1
199    1
200    1
800    1
801    1
802    1
803    1
804    1
805    1
806    1
807    1
808    1
809    1
810    1
811    1
812    1
813    1
814    1
815    1
816    1
817    1
818    1
819    1
900    1
901    1
902    1
903    1
904    1
905    1
906    1
907    1
908    1
909    1
910    1
911    1
912    1
913    1
914    1
915    1
916    1
917    1
918    1
919    1
500    3
501    3
502    3
503    3
504    3
505    2
506    3
507    2
508    2
509    3
510    3
511    3
Name: id, dtype: int64

In [87]:
d2 = d2.rename(columns={'ID': 'id', 'Session': 'session', 'Sequence': 'sequence'
                   , 'Gender': 'gender', 'New_Sequence': 'new_sequence', 'ptiso': 'ptiso'})

In [88]:
d2.session.value_counts(dropna=False, sort=False)

0     40
1    196
2    185
Name: session, dtype: int64

In [89]:
d2.sequence.value_counts(dropna=False, sort=False)

1    124
2    150
3    147
Name: sequence, dtype: int64

In [90]:
d2.new_sequence.value_counts(dropna=False, sort=False)

0    40
1    45
2    39
3    79
4    71
5    72
6    75
Name: new_sequence, dtype: int64

# Spring_2013_knee_extension

In [91]:
d3.columns

Index(['session', 'sequence', 'id', 'ptiso'], dtype='object')

In [92]:
d3 = d3[['id', 'session', 'sequence', 'ptiso']]

In [104]:
d3.id.value_counts(dropna=False, sort=False)

512    1
514    1
515    1
516    1
517    1
518    1
159    1
148    1
149    1
151    1
152    1
153    1
155    1
156    1
541    1
542    1
543    1
544    1
161    1
162    1
548    1
549    1
550    1
551    1
552    1
556    1
557    1
186    1
545    1
188    1
189    1
190    1
191    1
579    1
120    1
100    1
102    1
103    1
107    1
109    1
110    1
113    1
500    1
117    1
502    1
532    1
504    1
121    1
508    1
503    1
Name: id, dtype: int64

In [93]:
d3.session.value_counts(dropna=False, sort=False)

1    50
Name: session, dtype: int64

In [94]:
d3.sequence.value_counts(dropna=False, sort=False)

7    50
Name: sequence, dtype: int64