In [107]:
import os
import sys
import shutil
import pandas
import numpy
import ipystata
from ipystata.config import config_stata
config_stata('/home/kevin/stata/./stata-mp')

pandas.set_option('display.float_format', lambda x: '%.4f' % x)
pandas.set_option('max_columns', 200)
pandas.set_option('max_rows', 200)
pandas.set_option('max_colwidth', 150)
pandas.set_option('mode.sim_interactive', True)
pandas.set_option('colheader_justify', 'center')

In [108]:
d1 = pandas.read_csv('./data/IzzyLongitudinalWorkingMarch2015.csv')
d2 = pandas.read_csv('./data/AnalysisObservations.csv')

In [109]:
d1.head()

,ID,Session,Sequence,Gender,Age,Height,Seated Height,Leg Length,Weight,BF_Slaughter,BIA_PBF,BMI,LBM (kg),Years from aPHV,Age_At_PHV,Mat_Offset_New,Bone_Age,Tanner,Menarche,Age_First_Period,Period_Frequency,Medications,Vitamins,Fracture,Radius_SOS,Radius_Z,Tibial_SOS,Tibial_Z,Wrist_Flexion_Best,Grip_Strength_Best,Forearm_Length,ForeArm_Lean_CSA,Forearm_US_CSA,Anterior_CSA,Anterior Radius,Ant_Rad_CSA,Anterior Ulna,Ant_Ulna_CSA,Posterior,Post_CSA,Tibialis Anterior,NTx,Creatinine,NTx/Creat,Caloric Intake,Calcium,Vit D,Vit D.1,Caffeine,tot sedetary,tot light,tot mod,tot hard,tot v hard,tot mvh,Total time,Godin_PA,PAQ_TOTAL_SCORE,PAQ-PRVNT,Training_Data,Upper Arm_Length,Arm_Circumference,Arm_Lean_CSA,Thigh_Length,Thigh_Circumference,Thigh_Lean_CSA,Biceps Brachii,Biceps Brachii.1,Quads,Quads.1
0,100,1,1,0,11.7500,152.0000,75.2000,76.8000,44.2000,22.8100,21.9000,19.1300,34.1200,-2.1300,13.8800,-1.6700,11.1600,2.0000,nan,NaN,NaN,0.0000,0.0000,0,3828.0000,0.8000,3601.0000,-0.7500,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1443.0472,2.0272,711.8482,1572.0000,1077.6690,3.3820,135.2740,16.1010,78.4300,174.2900,94.5700,10.1400,1.0000,105.7100,804.7900,37.0000,2.5866,1.0000,0,27.4000,24.0000,30.7723,35.5000,41.7000,93.9739,26.4900,5.5100,27.2500,5.8300
1,100,1,3,0,12.7100,160.8000,79.6000,81.2000,48.8000,17.2400,14.9000,18.8700,40.3900,-1.2100,13.9200,-0.7100,12.4100,4.0000,nan,NaN,NaN,0.0000,0.0000,0,3898.0000,1.0000,3629.0000,-0.7000,13.6500,27.0000,25.6000,30.4130,14.4860,11.9700,34.7400,9.4800,17.8100,2.4900,17.9000,2.5200,nan,3738.6156,4.9186,760.0939,2219.0120,1212.8180,1.0250,41.0180,2.1430,75.5500,148.7100,48.7900,32.0000,12.8300,93.6200,796.0400,48.0000,3.1656,1.0000,1,30.0000,24.2000,36.1365,36.5000,42.3000,106.1759,23.4200,4.3100,28.2700,6.2800
2,100,1,5,0,13.8300,173.3000,87.6000,85.7000,63.5000,21.6900,17.6000,21.1400,49.7300,0.4100,13.4200,0.4100,14.6600,4.0000,nan,NaN,NaN,0.0000,0.0000,0,3851.0000,0.5000,3677.0000,0.3000,19.2500,37.0000,27.7000,39.6080,19.8340,16.2960,41.0700,13.2500,19.7000,3.0500,21.2300,3.5400,nan,4027.0632,7.4063,543.7346,2599.8310,874.3380,4.5460,181.8480,2.2500,78.4300,185.5700,88.0000,9.7100,0.4300,98.1400,808.7900,44.0000,3.2084,0.0000,1,33.0000,27.6000,46.8734,35.0000,49.4000,133.0287,26.8700,5.6700,30.7900,7.4500
3,100,1,7,0,14.7400,177.4000,89.8000,87.6000,67.3000,18.6000,13.1000,21.3800,54.7800,1.2000,13.5700,1.1700,15.6600,5.0000,nan,NaN,NaN,0.0000,0.0000,0,3952.0000,1.3000,3740.0000,0.3000,24.4000,40.5000,28.5000,43.9710,20.9740,17.5200,42.1450,13.9500,21.3200,3.5700,20.9700,3.4500,nan,2631.3441,5.7913,454.3643,2482.1180,1672.2970,5.9070,236.7390,6.1880,75.1400,156.5700,73.7100,12.7100,1.7100,88.1400,937.5000,66.0000,2.7597,0.0000,1,34.0000,27.8000,48.2628,38.0000,49.5000,149.7087,31.1300,7.6100,33.0900,8.6000
4,101,1,1,0,11.4500,158.1000,81.0000,77.1000,47.3000,23.7100,20.7000,18.9200,36.0800,-1.6300,13.0800,-1.6300,12.2400,1.0000,nan,NaN,NaN,0.0000,0.0000,0,3682.0000,-1.1000,3603.0000,-0.9000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,9869.8766,10.5223,937.9968,1549.9930,1521.0520,7.4320,297.3000,6.9850,65.5700,174.7100,78.8600,8.7100,1.7100,89.2900,704.4300,25.0000,1.7136,0.0000,0,29.0000,23.8000,31.3288,49.4000,41.0000,101.1895,25.9700,5.3000,28.6300,6.4400

In [110]:
d2.head()

,id,season,sequence,gender,rsos,tsos,grip,ptiso,Biodex,MatLab,ntxc,matu,mvh,age,Exclusion,NoSOS,NoGrip,Noptiso,Nontx,Nomvh,T,_o,_id,_v,size,_season,omit
0,100,spring,1,boy,3828,3601,nan,113.9281,129.1000,113.9281,711.8482,-1.6700,105.7100,11.7500,none,nan,Not taken sequence 1,NaN,NaN,NaN,NaN,1,1,1,4.0000,spring,nan
1,100,spring,3,boy,3898,3629,27.0000,136.0238,138.7000,136.0238,760.0939,-0.7100,93.6200,12.7100,none,nan,NaN,NaN,NaN,NaN,NaN,2,1,2,nan,NaN,nan
2,100,spring,5,boy,3851,3677,37.0000,177.0531,178.0000,177.0531,543.7346,0.4100,98.1400,13.8300,none,nan,NaN,NaN,NaN,NaN,NaN,3,1,3,nan,NaN,nan
3,100,spring,7,boy,3952,3740,40.5000,205.8000,205.8000,205.8000,454.3643,1.1700,88.1400,14.7400,none,nan,NaN,NaN,NaN,NaN,NaN,4,1,4,nan,NaN,nan
4,101,spring,1,boy,3682,3603,nan,133.0488,139.1000,133.0488,937.9968,-1.6300,89.2900,11.4500,none,nan,Not taken sequence 1,NaN,NaN,NaN,NaN,5,2,1,1.0000,spring,nan

In [111]:
dt = d1[['ID', 'Sequence', 'Caloric Intake']]
DM = pandas.merge(dt, d2, left_on=['ID', 'Sequence'], right_on=['id', 'sequence'], how='right'); del dt
DM.head()

,ID,Sequence,Caloric Intake,id,season,sequence,gender,rsos,tsos,grip,ptiso,Biodex,MatLab,ntxc,matu,mvh,age,Exclusion,NoSOS,NoGrip,Noptiso,Nontx,Nomvh,T,_o,_id,_v,size,_season,omit
0,100,1,1572.0000,100,spring,1,boy,3828,3601,nan,113.9281,129.1000,113.9281,711.8482,-1.6700,105.7100,11.7500,none,nan,Not taken sequence 1,NaN,NaN,NaN,NaN,1,1,1,4.0000,spring,nan
1,100,3,2219.0120,100,spring,3,boy,3898,3629,27.0000,136.0238,138.7000,136.0238,760.0939,-0.7100,93.6200,12.7100,none,nan,NaN,NaN,NaN,NaN,NaN,2,1,2,nan,NaN,nan
2,100,5,2599.8310,100,spring,5,boy,3851,3677,37.0000,177.0531,178.0000,177.0531,543.7346,0.4100,98.1400,13.8300,none,nan,NaN,NaN,NaN,NaN,NaN,3,1,3,nan,NaN,nan
3,100,7,2482.1180,100,spring,7,boy,3952,3740,40.5000,205.8000,205.8000,205.8000,454.3643,1.1700,88.1400,14.7400,none,nan,NaN,NaN,NaN,NaN,NaN,4,1,4,nan,NaN,nan
4,101,1,1549.9930,101,spring,1,boy,3682,3603,nan,133.0488,139.1000,133.0488,937.9968,-1.6300,89.2900,11.4500,none,nan,Not taken sequence 1,NaN,NaN,NaN,NaN,5,2,1,1.0000,spring,nan

In [113]:
dm = DM.copy()
dm = dm.sort_values(by=['id', 'sequence'])
dm['trip'] = dm.groupby(['id']).cumcount()+1
dm = dm.rename(columns={'sequence': 'session'})
dm = dm.rename(columns={'Biodex': 'biodex'})
dm = dm.rename(columns={'MatLab': 'matlab'})
dm = dm.rename(columns={'Caloric Intake': 'calo'})

dm = dm[['id', 'trip', 'session', 'season', 
         'rsos', 'tsos', 'grip', 'ptiso','biodex', 'matlab', 'ntxc', 'calo', 'matu', 'mvh', 'age', 'gender', 
         'Exclusion', 'NoSOS', 'NoGrip', 'Noptiso', 'Nontx', 'Nomvh', 'T']]

dm.head()

,id,trip,session,season,rsos,tsos,grip,ptiso,biodex,matlab,ntxc,calo,matu,mvh,age,gender,Exclusion,NoSOS,NoGrip,Noptiso,Nontx,Nomvh,T
0,100,1,1,spring,3828,3601,nan,113.9281,129.1000,113.9281,711.8482,1572.0000,-1.6700,105.7100,11.7500,boy,none,nan,Not taken sequence 1,NaN,NaN,NaN,NaN
1,100,2,3,spring,3898,3629,27.0000,136.0238,138.7000,136.0238,760.0939,2219.0120,-0.7100,93.6200,12.7100,boy,none,nan,NaN,NaN,NaN,NaN,NaN
2,100,3,5,spring,3851,3677,37.0000,177.0531,178.0000,177.0531,543.7346,2599.8310,0.4100,98.1400,13.8300,boy,none,nan,NaN,NaN,NaN,NaN,NaN
3,100,4,7,spring,3952,3740,40.5000,205.8000,205.8000,205.8000,454.3643,2482.1180,1.1700,88.1400,14.7400,boy,none,nan,NaN,NaN,NaN,NaN,NaN
4,101,1,1,spring,3682,3603,nan,133.0488,139.1000,133.0488,937.9968,1549.9930,-1.6300,89.2900,11.4500,boy,none,nan,Not taken sequence 1,NaN,NaN,NaN,NaN

In [114]:
dm.describe()

,id,trip,session,rsos,tsos,grip,ptiso,biodex,matlab,ntxc,calo,matu,mvh,age,NoSOS
count,406.0000,406.0000,406.0000,406.0000,406.0000,363.0000,345.0000,406.0000,345.0000,376.0000,404.0000,406.0000,298.0000,406.0000,0.0000
mean,333.0443,1.8596,4.1946,3816.0837,3687.4113,23.4257,128.0427,131.4756,128.0427,539.8239,1593.4335,-0.8572,107.0478,11.8435,nan
std,197.6157,0.8819,1.8322,100.0084,109.4166,7.4006,56.6753,57.7275,56.6753,263.6475,479.5087,2.0187,41.5323,1.9901,nan
min,100.0000,1.0000,1.0000,3554.0000,3367.0000,9.0000,32.6472,41.2000,32.6472,56.3083,469.4960,-5.3000,13.5700,7.5000,nan
25%,140.0000,1.0000,3.0000,3747.5000,3619.5000,18.0000,86.1235,88.8447,86.1235,370.8236,1265.0608,-2.2900,79.4725,10.3400,nan
50%,194.0000,2.0000,4.0000,3820.0000,3688.0000,22.0000,115.2520,118.6500,115.2520,513.9974,1541.2085,-0.9900,99.5250,11.8450,nan
75%,531.7500,2.0000,6.0000,3878.0000,3757.7500,27.0000,160.4960,161.0750,160.4960,662.4906,1848.5820,0.5200,134.0325,13.2275,nan
max,583.0000,4.0000,7.0000,4140.0000,4015.0000,53.0000,353.0000,353.8000,353.0000,1754.3245,3624.7240,9.6600,235.0000,17.5500,nan

In [115]:
ds = dm.groupby('session')['rsos', 'tsos', 'grip', 'ptiso','biodex', 'matlab', 'ntxc', 'calo', 'matu', 'mvh', 'age', 'gender'].mean()
d0 = dm[dm['gender']==0].groupby('session')['rsos', 'tsos', 'grip', 'ptiso','biodex', 'matlab', 'ntxc', 'calo', 'matu', 'mvh', 'age', 'gender'].mean()
d1 = dm[dm['gender']==1].groupby('session')['rsos', 'tsos', 'grip', 'ptiso','biodex', 'matlab', 'ntxc', 'calo', 'matu', 'mvh', 'age', 'gender'].mean()

t1 = ds.append(d0)
t1 = t1.append(d1)
t1

,rsos,tsos,grip,ptiso,biodex,matlab,ntxc,calo,matu,mvh,age
session,,,,,,,,,,,
1,3798.5116,3641.8372,nan,109.1163,111.6395,109.1163,741.9505,1574.7177,-1.8495,119.9435,11.1507
2,3771.0294,3657.0294,19.1324,78.9849,101.1382,78.9849,567.9930,1401.7380,-1.8809,109.1183,10.8988
3,3790.0395,3656.5000,20.1711,114.1013,120.0737,114.1013,555.6313,1639.7204,-1.1737,121.4650,11.2851
4,3819.8939,3683.8333,22.6591,127.3163,130.7909,127.3163,527.8039,1535.7799,-0.9383,90.2883,11.8212
5,3806.1739,3681.0870,25.1522,136.4513,142.1393,136.4513,496.3868,1625.3291,-0.5322,102.1851,12.0939
6,3858.5775,3728.3521,24.7786,139.6832,141.5803,139.6832,478.2397,1559.5354,-0.5017,112.6338,12.2480
7,3851.8723,3753.5319,28.2926,161.1979,160.0489,161.1979,462.1992,1758.9289,0.4023,86.3974,13.1162

In [116]:
dm['lnrsos'] = numpy.log(dm.rsos)
dm['lntsos'] = numpy.log(dm.tsos)
dm['lngrip'] = numpy.log(dm.grip)
dm['lnptiso'] = numpy.log(dm.ptiso)

dm['st_rsos'] = (dm['rsos'] - dm['rsos'].mean()) / dm['rsos'].std()
dm['st_tsos'] = (dm['tsos'] - dm['tsos'].mean()) / dm['tsos'].std()
dm['st_grip'] = (dm['grip'] - dm['grip'].mean()) / dm['grip'].std()
dm['st_ptiso'] = (dm['ptiso'] - dm['ptiso'].mean()) / dm['ptiso'].std()
dm['st_bio'] = (dm['biodex'] - dm['biodex'].mean()) / dm['biodex'].std()

dm['st_ntxc'] = (dm['ntxc'] - dm['ntxc'].mean()) / dm['ntxc'].std()
dm['st_mvh'] = (dm['mvh'] - dm['mvh'].mean()) / dm['mvh'].std()
dm['st_calo'] = (dm['calo'] - dm['calo'].mean()) / dm['calo'].std()

dm['st_matu'] = (dm['matu'] - dm['matu'].mean()) / dm['matu'].std()

dm['rad'] = dm['st_rsos']
dm['tib'] = dm['st_tsos']
dm['grp'] = dm['st_grip']
dm['tor'] = dm['st_bio']
dm['mat'] = dm['st_matu']
dm['ntx'] = dm['st_ntxc']
dm['mvh'] = dm['st_mvh']
dm['cal'] = dm['st_calo']

dm.head(2)

,id,trip,session,season,rsos,tsos,grip,ptiso,biodex,matlab,ntxc,calo,matu,mvh,age,gender,Exclusion,NoSOS,NoGrip,Noptiso,Nontx,Nomvh,T,lnrsos,lntsos,lngrip,lnptiso,st_rsos,st_tsos,st_grip,st_ptiso,st_bio,st_ntxc,st_mvh,st_calo,st_matu,rad,tib,grp,tor,mat,ntx,cal
0,100,1,1,spring,3828,3601,nan,113.9281,129.1000,113.9281,711.8482,1572.0000,-1.6700,-0.0322,11.7500,boy,none,nan,Not taken sequence 1,NaN,NaN,NaN,NaN,8.2501,8.1890,nan,4.7356,0.1192,-0.7897,nan,-0.2490,-0.0412,0.6525,-0.0322,-0.0447,-0.4026,0.1192,-0.7897,nan,-0.0412,-0.4026,0.6525,-0.0447
1,100,2,3,spring,3898,3629,27.0000,136.0238,138.7000,136.0238,760.0939,2219.0120,-0.7100,-0.3233,12.7100,boy,none,nan,NaN,NaN,NaN,NaN,NaN,8.2682,8.1967,3.2958,4.9128,0.8191,-0.5338,0.4830,0.1408,0.1251,0.8355,-0.3233,1.3046,0.0729,0.8191,-0.5338,0.4830,0.1251,0.0729,0.8355,1.3046

In [106]:
%%stata --data dm 
set processors 20
xtset id trip

display "******************************************************************"
sureg (rsos grip matu ntxc) (tsos ptiso matu ntxc mvh), isure

display "******************************************************************"
sureg (rsos grip matu ntxc) (tsos biodex matu ntxc mvh), isure

display "******************************************************************"
sureg (st_rsos st_grip st_matu st_ntxc) (st_tsos st_ptiso st_matu st_ntxc st_mvh), isure

display "******************************************************************"
sureg (st_rsos st_grip st_matu st_ntxc) (st_tsos st_bio st_matu st_ntxc st_mvh), isure

    The maximum number of processors or cores being used is changed from 32 to       panel variable:  id (unbalanced)
        time variable:  trip, 1 to 4
                delta:  1 unit
******************************************************************

Iteration 1:   tolerance =   .3254347
Iteration 2:   tolerance =  .01174496
Iteration 3:   tolerance =  .00044568
Iteration 4:   tolerance =  .00001654
Iteration 5:   tolerance =  6.118e-07

Seemingly unrelated regression, iterated
--------------------------------------------------------------------------
Equation             Obs   Parms        RMSE    "R-sq"       chi2        P
--------------------------------------------------------------------------
rsos                 205       3    84.65021    0.2022      47.41   0.0000
tsos                 205       4    91.79974    0.1631      41.50   0.0000
--------------------------------------------------------------------------

------------------------------------------------------------------------------
             |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
rsos         |
        grip |   3.027368   .9925234     3.05   0.002     1.082058    4.972679
        matu |   6.449668   3.526998     1.83   0.067    -.4631206    13.36246
        ntxc |  -.0977305   .0268822    -3.64   0.000    -.1504186   -.0450424
       _cons |   3804.946   29.22629   130.19   0.000     3747.664    3862.229
-------------+----------------------------------------------------------------
tsos         |
       ptiso |   .3806653   .1506768     2.53   0.012     .0853443    .6759863
        matu |    11.5185   4.530788     2.54   0.011     2.638322    20.39868
        ntxc |  -.0514103    .029093    -1.77   0.077    -.1084315    .0056109
         mvh |   .0322788    .167607     0.19   0.847    -.2962248    .3607824
       _cons |   3659.685   31.26067   117.07   0.000     3598.415    3720.954
------------------------------------------------------------------------------
******************************************************************

Iteration 1:   tolerance =   .3752831
Iteration 2:   tolerance =  .01966215
Iteration 3:   tolerance =  .00110925
Iteration 4:   tolerance =  .00005999
Iteration 5:   tolerance =  3.221e-06
Iteration 6:   tolerance =  1.726e-07

Seemingly unrelated regression, iterated
--------------------------------------------------------------------------
Equation             Obs   Parms        RMSE    "R-sq"       chi2        P
--------------------------------------------------------------------------
rsos                 248       3    85.68407    0.1997      55.12   0.0000
tsos                 248       4    93.18299    0.1476      44.36   0.0000
--------------------------------------------------------------------------

------------------------------------------------------------------------------
             |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
rsos         |
        grip |   3.012882   .9347156     3.22   0.001     1.180873    4.844891
        matu |   7.188129   3.260177     2.20   0.027      .798299    13.57796
        ntxc |  -.0892327   .0246475    -3.62   0.000     -.137541   -.0409244
       _cons |   3799.509   27.03852   140.52   0.000     3746.514    3852.503
-------------+----------------------------------------------------------------
tsos         |
      biodex |   .2594793   .1411637     1.84   0.066    -.0171964    .5361551
        matu |   13.01725   4.260023     3.06   0.002      4.66776    21.36674
        ntxc |  -.0519972   .0267737    -1.94   0.052    -.1044726    .0004782
         mvh |    .044437   .1549946     0.29   0.774    -.2593469    .3482209
       _cons |   3678.136   29.12047   126.31   0.000     3621.061    3735.211
------------------------------------------------------------------------------
******************************************************************
variable st_matu not found
r(111);

end of do-file

r(111);

In [117]:
%%stata --data dm 
set processors 20
xtset id trip

sem ///
(rad <- grp mat ntx) ///
(tib <- tor mat ntx mvh) /// 
, covstruct(_lexogenous, diagonal) nocapslatent ///
cov(e.rad*e.tib) 
    

display "Mediated"
sem ///
(rad <- grp mat ntx) (grp <- mat cal) ///
(tib <- tor mat ntx mvh)  (tor <- mat cal)  /// 
, covstruct(_lexogenous, diagonal) nocapslatent ///
cov(e.rad*e.tib)

    The maximum number of processors or cores being used is changed from 32 to       panel variable:  id (unbalanced)
        time variable:  trip, 1 to 4
                delta:  1 unit
> (rad <- grp mat ntx) ///
> (tib <- tor mat ntx mvh) ///
> , covstruct(_lexogenous, diagonal) nocapslatent ///
> cov(e.rad*e.tib)
(158 observations with missing values excluded)

Endogenous variables

Observed:  rad tib

Exogenous variables

Observed:  grp mat ntx tor mvh

Fitting target model:

Iteration 0:   log likelihood =  -2016.404
Iteration 1:   log likelihood = -2013.7261
Iteration 2:   log likelihood = -2013.6965
Iteration 3:   log likelihood = -2013.6964

Structural equation model                       Number of obs     =        248
Estimation method  = ml
Log likelihood     = -2013.6964

---------------------------------------------------------------------------------
                |                 OIM
                |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
----------------+----------------------------------------------------------------
Structural      |
  rad <-        |
            grp |   .2229526    .070549     3.16   0.002     .0846791     .361226
            mat |   .1450917   .0661361     2.19   0.028     .0154673    .2747161
            ntx |    -.23524   .0649836    -3.62   0.000    -.3626055   -.1078745
          _cons |  -.0032793   .0559821    -0.06   0.953    -.1130022    .1064436
  --------------+----------------------------------------------------------------
  tib <-        |
            mat |   .2401592   .0789397     3.04   0.002     .0854403    .3948781
            ntx |  -.1252911   .0645137    -1.94   0.052    -.2517355    .0011534
            tor |   .1368997   .0745857     1.84   0.066    -.0092857     .283085
            mvh |   .0168674   .0597316     0.28   0.778    -.1002044    .1339392
          _cons |  -.0880244   .0552508    -1.59   0.111     -.196314    .0202652
----------------+----------------------------------------------------------------
      var(e.rad)|   .7340523    .066354                      .6148701    .8763359
      var(e.tib)|   .7252813   .0654507                      .6077046    .8656063
----------------+----------------------------------------------------------------
cov(e.rad,e.tib)|   .3324229    .052086     6.38   0.000     .2303363    .4345096
---------------------------------------------------------------------------------
LR test of model vs. saturated: chi2(3)   =     23.65, Prob > chi2 = 0.0000
. display "Mediated"
Mediated
> (rad <- grp mat ntx) (grp <- mat cal) ///
> (tib <- tor mat ntx mvh)  (tor <- mat cal)  ///
> , covstruct(_lexogenous, diagonal) nocapslatent ///
> cov(e.rad*e.tib)
(158 observations with missing values excluded)

Endogenous variables

Observed:  rad grp tib tor

Exogenous variables

Observed:  mat ntx cal mvh

Fitting target model:

Iteration 0:   log likelihood = -2426.4539
Iteration 1:   log likelihood = -2399.5257
Iteration 2:   log likelihood =  -2394.335
Iteration 3:   log likelihood = -2394.2328
Iteration 4:   log likelihood = -2394.2324
Iteration 5:   log likelihood = -2394.2324

Structural equation model                       Number of obs     =        248
Estimation method  = ml
Log likelihood     = -2394.2324

---------------------------------------------------------------------------------
                |                 OIM
                |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
----------------+----------------------------------------------------------------
Structural      |
  rad <-        |
            grp |   .2229526    .070549     3.16   0.002     .0846791    .3612261
            mat |   .1450917   .0661361     2.19   0.028     .0154673    .2747161
            ntx |    -.23524   .0649836    -3.62   0.000    -.3626055   -.1078744
          _cons |  -.0032793   .0559821    -0.06   0.953    -.1130022    .1064436
  --------------+----------------------------------------------------------------
  grp <-        |
            mat |   .4509928   .0457406     9.86   0.000     .3613428    .5406427
            cal |   .2539187   .0481679     5.27   0.000     .1595114    .3483261
          _cons |  -.1601894   .0446576    -3.59   0.000    -.2477168   -.0726621
  --------------+----------------------------------------------------------------
  tib <-        |
            tor |   .1368997   .0745857     1.84   0.066    -.0092857    .2830851
            mat |   .2401591   .0789397     3.04   0.002     .0854402    .3948781
            ntx |  -.1252911   .0645137    -1.94   0.052    -.2517356    .0011534
            mvh |   .0168674   .0597316     0.28   0.778    -.1002045    .1339392
          _cons |  -.0880244   .0552508    -1.59   0.111     -.196314    .0202652
  --------------+----------------------------------------------------------------
  tor <-        |
            mat |   .5368423   .0425658    12.61   0.000     .4534148    .6202699
            cal |   .2128854   .0448246     4.75   0.000     .1250307    .3007401
          _cons |  -.1168318    .041558    -2.81   0.005     -.198284   -.0353796
----------------+----------------------------------------------------------------
      var(e.rad)|   .7340526   .0663541                      .6148703    .8763363
      var(e.grp)|    .487978   .0438217                      .4092231    .5818894
      var(e.tib)|   .7252815   .0654507                      .6077047    .8656066
      var(e.tor)|   .4225893   .0379496                      .3543874    .5039165
----------------+----------------------------------------------------------------
cov(e.rad,e.tib)|   .3324227    .052086     6.38   0.000      .230336    .4345093
---------------------------------------------------------------------------------
LR test of model vs

In [119]:
%%stata --data dm 
set processors 20
xtset id trip

gsem ///
(rad <- grp mat ntx M[id]@1) ///
(tib <- tor mat ntx mvh M[id]@1) /// 
, covstruct(_lexogenous, diagonal) latent(M) ///
cov(e.rad*e.tib)


display "Mediated"
gsem ///
(rad <- grp mat ntx M[id]@1) (grp <- mat cal) ///
(tib <- tor mat ntx mvh M[id]@1) (tor <- mat cal)  /// 
, covstruct(_lexogenous, diagonal) nocapslatent  latent(M) ///
cov(e.rad*e.tib) 

display "**********"

gsem ///
(rad <- grp mat ntx M[id]@1) (grp <- mat cal) ///
(tib <- tor mat ntx mvh M[id]@1) (tor <- mat cal)  /// 
, covstruct(_lexogenous, diagonal) nocapslatent  latent(M) ///
cov(e.rad*e.tib) cov(e.grp*e.tor)

    The maximum number of processors or cores being used is changed from 32 to       panel variable:  id (unbalanced)
        time variable:  trip, 1 to 4
                delta:  1 unit
> (rad <- grp mat ntx M[id]@1) ///
> (tib <- tor mat ntx mvh M[id]@1) ///
> , covstruct(_lexogenous, diagonal) latent(M) ///
> cov(e.rad*e.tib)

Fitting fixed-effects model:

Iteration 0:   log likelihood = -791.40837
Iteration 1:   log likelihood = -785.97904
Iteration 2:   log likelihood = -762.56577
Iteration 3:   log likelihood = -762.31432
Iteration 4:   log likelihood =  -762.3128
Iteration 5:   log likelihood =  -762.3128

Refining starting values:

Grid node 0:   log likelihood = -767.64623

Fitting full model:

Iteration 0:   log likelihood = -767.64623  (not concave)
Iteration 1:   log likelihood = -740.61121  (not concave)
Iteration 2:   log likelihood =  -713.4836
Iteration 3:   log likelihood = -702.06728
Iteration 4:   log likelihood = -699.36321
Iteration 5:   log likelihood = -699.33714
Iteration 6:   log likelihood = -699.33714

Generalized structural equation model           Number of obs     =        368

Response       : rad                            Number of obs     =        335
Family         : Gaussian
Link           : identity

Response       : tib                            Number of obs     =        281
Family         : Gaussian
Link           : identity

Log likelihood = -699.33714

 ( 1)  [rad]M[id] = 1
 ( 2)  [tib]M[id] = 1
---------------------------------------------------------------------------------
                |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
----------------+----------------------------------------------------------------
rad <-          |
            grp |   .2250847   .0610875     3.68   0.000     .1053553    .3448141
            mat |   .1586245    .059886     2.65   0.008     .0412502    .2759988
            ntx |  -.2470024   .0473464    -5.22   0.000    -.3397997   -.1542052
                |
          M[id] |          1  (constrained)
                |
          _cons |  -.0381017   .0604271    -0.63   0.528    -.1565365    .0803332
----------------+----------------------------------------------------------------
tib <-          |
            tor |   .2307785   .0737789     3.13   0.002     .0861745    .3753825
            mat |    .195279   .0724884     2.69   0.007     .0532043    .3373537
            ntx |  -.1208593   .0454807    -2.66   0.008    -.2099998   -.0317189
            mvh |  -.0063244   .0523008    -0.12   0.904     -.108832    .0961832
                |
          M[id] |          1  (constrained)
                |
          _cons |  -.1345505     .06303    -2.13   0.033     -.258087   -.0110139
----------------+----------------------------------------------------------------
      var(M[id])|   .3962763   .0564422                      .2997507     .523885
----------------+----------------------------------------------------------------
      var(e.rad)|   .3848711   .0437257                      .3080415     .480863
      var(e.tib)|   .3509785   .0446544                      .2735166    .4503783
----------------+----------------------------------------------------------------
cov(e.tib,e.rad)|  -.0336081   .0291477    -1.15   0.249    -.0907365    .0235203
---------------------------------------------------------------------------------
Mediated
> (rad <- grp mat ntx M[id]@1) (grp <- mat cal) ///
> (tib <- tor mat ntx mvh M[id]@1) (tor <- mat cal)  ///
> , covstruct(_lexogenous, diagonal) nocapslatent  latent(M) ///
> cov(e.rad*e.tib)

Fitting fixed-effects model:

Iteration 0:   log likelihood = -1637.7717
Iteration 1:   log likelihood = -1631.8613
Iteration 2:   log likelihood = -1608.8659
Iteration 3:   log likelihood = -1608.5217
Iteration 4:   log likelihood = -1608.5195
Iteration 5:   log likelihood = -1608.5195

Refining starting values:

Grid node 0:   log likelihood = -1612.0968

Fitting full model:

Iteration 0:   log likelihood = -1612.0968  (not concave)
Iteration 1:   log likelihood = -1586.2362  (not concave)
Iteration 2:   log likelihood = -1555.7294
Iteration 3:   log likelihood = -1544.1706
Iteration 4:   log likelihood = -1540.7964
Iteration 5:   log likelihood = -1540.3069
Iteration 6:   log likelihood = -1540.3049
Iteration 7:   log likelihood = -1540.3049

Generalized structural equation model           Number of obs     =        404

Response       : rad                            Number of obs     =        335
Family         : Gaussian
Link           : identity

Response       : grp                            Number of obs     =        363
Family         : Gaussian
Link           : identity

Response       : tib                            Number of obs     =        279
Family         : Gaussian
Link           : identity

Response       : tor                            Number of obs     =        404
Family         : Gaussian
Link           : identity

Log likelihood = -1540.3049

 ( 1)  [rad]M[id] = 1
 ( 2)  [tib]M[id] = 1
---------------------------------------------------------------------------------
                |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
----------------+----------------------------------------------------------------
rad <-          |
            grp |   .2335575    .061042     3.83   0.000     .1139173    .3531977
            mat |   .1462629   .0596915     2.45   0.014     .0292697     .263256
            ntx |  -.2520843   .0471687    -5.34   0.000    -.3445333   -.1596353
                |
          M[id] |          1  (constrained)
                |
          _cons |  -.0391367   .0608629    -0.64   0.520    -.1584257    .0801524
----------------+----------------------------------------------------------------
grp <-          |
            mat |    .563715   .0391572    14.40   0.000     .4869683    .6404618
            cal |   .2419631   .0404426     5.98   0.000     .1626971     .321229
          _cons |  -.0338912   .0398029    -0.85   0.395    -.1119035    .0441211
----------------+----------------------------------------------------------------
tib <-          |
            tor |   .2274913   .0722004     3.15   0.002     .0859811    .3690015
            mat |   .1869732     .07054     2.65   0.008     .0487174     .325229
            ntx |  -.1213367   .0447762    -2.71   0.007    -.2090965   -.0335769
            mvh |   .0035774   .0508384     0.07   0.944    -.0960641    .1032189
                |
          M[id] |          1  (constrained)
                |
          _cons |  -.1287333   .0626821    -2.05   0.040     -.251588   -.0058786
----------------+----------------------------------------------------------------
tor <-          |
            mat |    .637266   .0357582    17.82   0.000     .5671812    .7073508
            cal |   .2226274    .035717     6.23   0.000     .1526234    .2926313
          _cons |   .0027302   .0354247     0.08   0.939     -.066701    .0721614
----------------+----------------------------------------------------------------
      var(M[id])|   .4064352   .0569102                      .3088899    .5347847
----------------+----------------------------------------------------------------
      var(e.rad)|   .3838138   .0433468                      .3076014    .4789088
      var(e.grp)|   .5732289    .042549                      .4956168    .6629949
      var(e.tib)|   .3227815   .0422446                      .2497504    .4171681
      var(e.tor)|   .5069674   .0356701                      .4416616    .5819295
----------------+----------------------------------------------------------------
cov(e.tib,e.rad)|  -.0395114   .0269134    -1.47   0.142    -.0922608     .013238
---------------------------------------------------------------------------------
**********
> (rad <- grp mat ntx M[id]@1) (grp <- mat cal) ///
> (tib <- tor mat ntx mvh M[id]@1) (tor <- mat cal)  ///
> , covstruct(_lexogenous, diagonal) nocapslatent  latent(M) ///
> cov(e.rad*e.tib) cov(e.grp*e.tor)

Fitting fixed-effects model:

Iteration 0:   log likelihood = -1637.7717  (not concave)
Iteration 1:   log likelihood = -1522.9491
Iteration 2:   log likelihood =  -1507.831
Iteration 3:   log likelihood = -1499.8471
Iteration 4:   log likelihood = -1499.7062
Iteration 5:   log likelihood = -1499.7055
Iteration 6:   log likelihood = -1499.7055

Refining starting values:

Grid node 0:   log likelihood = -1503.2828

Fitting full model:

Iteration 0:   log likelihood = -1503.2828  (not concave)
Iteration 1:   log likelihood = -1476.8267  (not concave)
Iteration 2:   log likelihood = -1448.8838
Iteration 3:   log likelihood =  -1434.679
Iteration 4:   log likelihood = -1431.5223
Iteration 5:   log likelihood = -1431.4909
Iteration 6:   log likelihood = -1431.4909

Generalized structural equation model           Number of obs     =        404

Response       : rad                            Number of obs     =        335
Family         : Gaussian
Link           : identity

Response       : grp                            Number of obs     =        363
Family         : Gaussian
Link           : identity

Response       : tib                            Number of obs     =        279
Family         : Gaussian
Link           : identity

Response       : tor                            Number of obs     =        404
Family         : Gaussian
Link           : identity

Log likelihood = -1431.4909

 ( 1)  [rad]M[id] = 1
 ( 2)  [tib]M[id] = 1
---------------------------------------------------------------------------------
                |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
----------------+----------------------------------------------------------------
rad <-          |
            grp |   .2335575    .061042     3.83   0.000     .1139174    .3531977
            mat |   .1462628   .0596915     2.45   0.014     .0292697     .263256
            ntx |  -.2520843   .0471687    -5.34   0.000    -.3445333   -.1596354
                |
          M[id] |          1  (constrained)
                |
          _cons |  -.0391367   .0608629    -0.64   0.520    -.1584257    .0801524
----------------+----------------------------------------------------------------
grp <-          |
            mat |   .5632178   .0382259    14.73   0.000     .4882965    .6381391
            cal |   .2369229   .0389365     6.08   0.000     .1606088     .313237
          _cons |  -.0337599    .038441    -0.88   0.380    -.1091029    .0415831
----------------+----------------------------------------------------------------
tib <-          |
            tor |   .2274914   .0722004     3.15   0.002     .0859812    .3690016
            mat |   .1869732     .07054     2.65   0.008     .0487174     .325229
            ntx |  -.1213367   .0447762    -2.71   0.007    -.2090965   -.0335769
            mvh |   .0035774   .0508384     0.07   0.944    -.0960641    .1032189
                |
          M[id] |          1  (constrained)
                |
          _cons |  -.1287333   .0626821    -2.05   0.040     -.251588   -.0058786
----------------+----------------------------------------------------------------
tor <-          |
            mat |    .637266   .0357582    17.82   0.000     .5671812    .7073508
            cal |   .2226274    .035717     6.23   0.000     .1526234    .2926313
          _cons |   .0027302   .0354247     0.08   0.939     -.066701    .0721614
----------------+----------------------------------------------------------------
      var(M[id])|   .4064352   .0569102                      .3088899    .5347846
----------------+----------------------------------------------------------------
      var(e.rad)|   .3838136   .0433468                      .3076013    .4789085
      var(e.grp)|   .5602996   .0406615                      .4860129    .6459411
      var(e.tib)|   .3227815   .0422446                      .2497504     .417168
      var(e.tor)|   .5069674   .0356701                      .4416616    .5819295
----------------+----------------------------------------------------------------
cov(e.tib,e.rad)|  -.0395115   .0269134    -1.47   0.142    -.0922609    .0132379
cov(e.tor,e.grp)|   .3528297   .0321538    10.97   0.000     .2898094      .41585
---------------------------------------------------------------------------------

In [123]:
%%stata --data dm 
set processors 20
xtset id trip

gsem ///
(rad <- grp mat ntx M[id]@1) (grp <- mat cal) ///
(tib <- tor mat ntx mvh M[id]@1) (tor <- mat cal)  /// 
, covstruct(_lexogenous, diagonal) nocapslatent  latent(M) ///
cov(e.rad*e.tib) cov(e.grp*e.tor) coeflegend  

lincom _b[grp:mat] - _b[tor:mat]
lincom _b[grp:cal] - _b[tor:cal]

lincom _b[rad:grp] - _b[tib:tor]
lincom _b[rad:mat] - _b[tib:mat]
lincom _b[rad:ntx] - _b[tib:ntx]

    The maximum number of processors or cores being used is changed from 32 to       panel variable:  id (unbalanced)
        time variable:  trip, 1 to 4
                delta:  1 unit
> (rad <- grp mat ntx M[id]@1) (grp <- mat cal) ///
> (tib <- tor mat ntx mvh M[id]@1) (tor <- mat cal)  ///
> , covstruct(_lexogenous, diagonal) nocapslatent  latent(M) ///
> cov(e.rad*e.tib) cov(e.grp*e.tor) coeflegend

Fitting fixed-effects model:

Iteration 0:   log likelihood = -1637.7717  (not concave)
Iteration 1:   log likelihood = -1522.9491
Iteration 2:   log likelihood =  -1507.831
Iteration 3:   log likelihood = -1499.8471
Iteration 4:   log likelihood = -1499.7062
Iteration 5:   log likelihood = -1499.7055
Iteration 6:   log likelihood = -1499.7055

Refining starting values:

Grid node 0:   log likelihood = -1503.2828

Fitting full model:

Iteration 0:   log likelihood = -1503.2828  (not concave)
Iteration 1:   log likelihood = -1476.8267  (not concave)
Iteration 2:   log likelihood = -1448.8838
Iteration 3:   log likelihood =  -1434.679
Iteration 4:   log likelihood = -1431.5223
Iteration 5:   log likelihood = -1431.4909
Iteration 6:   log likelihood = -1431.4909

Generalized structural equation model           Number of obs     =        404

Response       : rad                            Number of obs     =        335
Family         : Gaussian
Link           : identity

Response       : grp                            Number of obs     =        363
Family         : Gaussian
Link           : identity

Response       : tib                            Number of obs     =        279
Family         : Gaussian
Link           : identity

Response       : tor                            Number of obs     =        404
Family         : Gaussian
Link           : identity

Log likelihood = -1431.4909

 ( 1)  [rad]M[id] = 1
 ( 2)  [tib]M[id] = 1
---------------------------------------------------------------------------------
                |      Coef.  Legend
----------------+----------------------------------------------------------------
rad <-          |
            grp |   .2335575  _b[rad:grp]
            mat |   .1462628  _b[rad:mat]
            ntx |  -.2520843  _b[rad:ntx]
                |
          M[id] |          1  _b[rad:M[id]]
                |
          _cons |  -.0391367  _b[rad:_cons]
----------------+----------------------------------------------------------------
grp <-          |
            mat |   .5632178  _b[grp:mat]
            cal |   .2369229  _b[grp:cal]
          _cons |  -.0337599  _b[grp:_cons]
----------------+----------------------------------------------------------------
tib <-          |
            tor |   .2274914  _b[tib:tor]
            mat |   .1869732  _b[tib:mat]
            ntx |  -.1213367  _b[tib:ntx]
            mvh |   .0035774  _b[tib:mvh]
                |
          M[id] |          1  _b[tib:M[id]]
                |
          _cons |  -.1287333  _b[tib:_cons]
----------------+----------------------------------------------------------------
tor <-          |
            mat |    .637266  _b[tor:mat]
            cal |   .2226274  _b[tor:cal]
          _cons |   .0027302  _b[tor:_cons]
----------------+----------------------------------------------------------------
      var(M[id])|   .4064352  _b[var(M[id]):_cons]
----------------+----------------------------------------------------------------
      var(e.rad)|   .3838136  _b[var(e.rad):_cons]
      var(e.grp)|   .5602996  _b[var(e.grp):_cons]
      var(e.tib)|   .3227815  _b[var(e.tib):_cons]
      var(e.tor)|   .5069674  _b[var(e.tor):_cons]
----------------+----------------------------------------------------------------
cov(e.tib,e.rad)|  -.0395115  _b[cov(e.tib,e.rad):_cons]
cov(e.tor,e.grp)|   .3528297  _b[cov(e.tor,e.grp):_cons]
---------------------------------------------------------------------------------

 ( 1)  [grp]mat - [tor]mat = 0

------------------------------------------------------------------------------
             |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
         (1) |  -.0740482   .0309852    -2.39   0.017    -.1347781   -.0133183
------------------------------------------------------------------------------

 ( 1)  [grp]cal - [tor]cal = 0

------------------------------------------------------------------------------
             |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
         (1) |   .0142955   .0318759     0.45   0.654    -.0481801    .0767711
------------------------------------------------------------------------------

 ( 1)  [rad]grp - [tib]tor = 0

------------------------------------------------------------------------------
             |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
         (1) |   .0060662   .0772848     0.08   0.937    -.1454092    .1575416
------------------------------------------------------------------------------

 ( 1)  [rad]mat - [tib]mat = 0

------------------------------------------------------------------------------
             |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
         (1) |  -.0407104   .0750737    -0.54   0.588    -.1878521    .1064314
------------------------------------------------------------------------------

 ( 1)  [rad]ntx - [tib]ntx = 0

------------------------------------------------------------------------------
             |      Coef.   Std. Err.      z    P>|z|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
         (1) |  -.1307476   .0580658    -2.25   0.024    -.2445544   -.0169408
------------------------------------------------------------------------------

In [ ]:
gsem ///
    (M1[id] griphs matus ntxhs godin  -> rsoshs, ) /// 
    (M2[id] torqhs matus ntxhs mvhhs  -> tsoshs, ) /// 
    (cinths matus  -> griphs,)  ///
    (cinths matus  -> torqhs,)  ///
     , covstruct(_lexogenous, diagonal) nocapslatent ///
      latent(M1 M2)   ///
      cov(e.rsoshs*e.tsoshs)  cov(e.torqhs*e.griphs)  ///
      cov(e.rsoshs*e.griphs)  cov(e.tsoshs*e.torqhs) ///
      cov(M1[id]*M2[id])  
        
estimates save "./out/table2_b"

lincom [griphs]matus - [torqhs]matus
lincom [griphs]cinths - [torqhs]cinths

lincom [rsoshs]griphs - [tsoshs]torqhs
lincom [rsoshs]matus - [tsoshs]matus
lincom [rsoshs]ntxhs - [tsoshs]ntxhs
lincom [rsoshs]paqps - [tsoshs]mvhhs