In [196]:
import os
import sys
import shutil
import pandas
import numpy
import json

import ipystata
from ipystata.config import config_stata
config_stata('/usr/local/stata/stata-mp')

pandas.set_option('display.float_format', lambda x: '%.4f' % x)
pandas.set_option('max_columns', 200)
pandas.set_option('max_rows', 400)
pandas.set_option('max_colwidth', 150)
pandas.set_option('mode.sim_interactive', True)
pandas.set_option('colheader_justify', 'center')
pandas.set_option('precision', 4)

from IPython.display import display, display_markdown, Markdown, HTML
# from IPython.display import display, HTML, Image, IFrame, publish_display_data, display_markdown
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"
# pandas.options.display.float_format = '{:.2f}'.format

In [218]:
dm = pandas.read_csv('out/data_analysis.csv')

de = dm.copy()
de = de[['id', 'trip', 'st_rsos', 'st_tsos', 'st_grip', 'st_biodex', 'ntxc', 'st_matu', 'st_calo', 'st_mvh', 'gender']]
de = de.set_index(['id', 'trip'])

de = de.rename(columns={'st_rsos': 'r'})
de = de.rename(columns={'st_tsos': 't'})
de = de.rename(columns={'st_grip': 'g'})
de = de.rename(columns={'st_biodex': 'b'})
de = de.rename(columns={'ntxc': 'n'})
de = de.rename(columns={'st_matu': 'm'})
de = de.rename(columns={'st_calo': 'c'})
de = de.rename(columns={'st_mvh': 'v'})
de = de.rename(columns={'gender': 'G'})

de.head(2)

            r       t      g       b       n        m       c       v    G
id  trip
100 1    0.1192 -0.7897    nan -0.0412 711.8482 -0.4026 -0.0447 -0.0322  boy
    2    0.8191 -0.5338 0.4830  0.1251 760.0939  0.0729  1.3046 -0.3233  boy

In [222]:
%%stata --data de --out dr -np

global R "r <- g@k1 m@k2 n@k3 M1[id]@1 _cons@kk"
global T "t <- b@k1 m@k2 n@k3 M1[id]@1 _cons@kk"
global M "g b <- m@k4 c@k5 M2[id]@1"
global C "covstruct(_lexogenous, diagonal) nocapslatent latent(M1 M2) cov(e.r*e.t) cov(e.g*e.b) cov(M1[id]*M2[id]) "
global O "nohead nolog"

gsem ($R) ($T) ($M), $C $O
estimates save out/table2, replace
regsave using out/table2, replace addlabel(M, all)

gsem ($R) ($T) ($M) if G == "boy", $C $O
estimates save out/table2, append
regsave using out/table2, append addlabel(M, boys)

gsem ($R) ($T) ($M) if G == "girl", $C $O
estimates save out/table2, append
regsave using out/table2, append addlabel(M, girls)

use out/table2, clear
sort M

In [239]:
dt = dr.copy()
dt = dt.set_index(['M', 'var'])
dt = dt.T

RA = dt['all']
RB = dt['boys']
RG = dt['girls']
RA.axes

[Index(['coef', 'stderr', 'N'], dtype='object'),
 Index(['cov(e.b,e.g):_cons', 'cov(e.t,e.r):_cons', 'var(e.b):_cons',
        'var(e.g):_cons', 'var(e.t):_cons', 'var(e.r):_cons',
        'cov(M2[id],M1[id]):_cons', 'var(M2[id]):_cons', 'var(M1[id]):_cons',
        'b:_cons', 'b:M2[id]', 'b:c', 'b:m', 'g:_cons', 'g:M2[id]', 'g:c',
        'g:m', 't:_cons', 't:M1[id]', 't:n', 't:m', 't:b', 'r:_cons',
        'r:M1[id]', 'r:n', 'r:m', 'r:g'],
       dtype='object', name='var')]

In [242]:
Markdown(
"""

a is {a:8.4f}

"""
.format
    (
a = RA['r:g']['coef']
    )
        )

a is   0.2923